#profile-bg {
    position: absolute;
     left: 0;
     width: 100%;
     margin-top: -16px;
     height: 170px;
     background-size: cover;
     background-position: center;
     text-align: center;
     img{
     width: 100%;
     height: 100%;
     }
   }

   // Foto Profile
#profil {
     position: center;
     padding-top: 30px;
     text-align: center;
   }

$colors: (
  primary:     #387ef5,
  secondary:   #32db64,
  danger:      #f53d3d,
  light:       #f4f4f4,
  dark:        #222,
  favorite:    #69BB7B,
  navbarColor: #009688
);
