<ion-header>
  <ion-navbar color='header'>
    <ion-title>AKUN SETTING</ion-title>
  </ion-navbar>
  <div>
  	<ion-segment mode="md" [(ngModel)]="kelas" color="red">
    <ion-segment-button value="setting">
        SETTING
    </ion-segment-button>
    <ion-segment-button value="berita">
        BUAT BERITA
    </ion-segment-button>
	</ion-segment>
	</div>
</ion-header>

<ion-content>
<div [ngSwitch]="kelas">
    <div *ngSwitchCase="'setting'">
<div id="profil">
       <img id="profile-image" src="assets/imgs/logo-muhammadiyah.jpg">
       <br>
       <ion-buttons>
        <button ion-button small clear>
          Ganti Foto Profil
        </button>
      </ion-buttons>
   </div>
   <ion-list style="padding-top: 20px;">
     <ion-item-group>
      <ion-item-divider color="light">Biodata Diri</ion-item-divider>
            <ion-item>
              <ion-label floating>Nama</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Email</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>No HP</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
        </ion-item-group>
        <ion-item-group>
        <ion-item>
              <ion-label floating>Password Baru</ion-label>
              <ion-input type="password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Tulis Ulang Password</ion-label>
              <ion-input type="password"></ion-input>
            </ion-item>
        </ion-item-group>
      </ion-list>
   <div padding>
   <button ion-button class="login-button">Simpan</button>
  </div>
    </div>
 <div *ngSwitchCase="'berita'">
   
<img src="assets/imgs/berita_1.png" style="width:100%">
<ion-list>
<ion-list-header>
	JUDUL BERITA
</ion-list-header>
  <ion-item>
  	<ion-input type="text" placeholder="Judul Berita"></ion-input>
 </ion-item>
</ion-list>
<ion-list>
  <ion-item>
   <ion-label>Kategori Berita</ion-label>
   <ion-select >
      <ion-option value="Exchange">Aqidah</ion-option>
      <ion-option value="Special" >Akhlak</ion-option>   
      <ion-option value="Smart" >Muamalah</ion-option>   
    </ion-select>
 </ion-item>
</ion-list>
  <ion-item>
    <ion-label>Editor</ion-label>
    <ion-textarea clearOnEdit="true"></ion-textarea>
  </ion-item>
  
  <!-- Textarea with custom number of rows and cols -->
  <ion-item>
    <ion-label>Isi Berita</ion-label>
    <ion-textarea rows="6" cols="20" placeholder="Enter any notes here..."></ion-textarea>
  </ion-item>
<quill-editor [modules]="{toolbar:[ [{ 'header': 1 }, { 'header': 2 }],['bold','italic','underline','strike','blockquote'],[{ 'list': 'ordered'}, { 'list': 'bullet' },{ 'align': []}]]}">
</quill-editor>

     </div>
  </div>
  </ion-content>
 