<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Akun Saya" tabIcon="contact"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Tanya Agama" tabIcon="help-circle"></ion-tab>
</ion-tabs>
