<ion-header>
  <ion-navbar color='favorite'>
    <ion-grid>
      <ion-row>
        <ion-col>
            <img  class="icon3" src="assets/icon/logo.png"/>
        </ion-col>
        <ion-col>
            <h3>HADISPEDIA</h3>
        </ion-col>
        <ion-col size-md="3">
            <img class="icon2" src="assets/icon/icon.png"/>
        </ion-col>
        </ion-row>
  </ion-grid>
  </ion-navbar>
</ion-header>


<ion-content>
    <div class="headline">
      <ion-list no-lines>
          <ion-item>
        <ion-slides autoplay="2500" loop="true" pager>
          <ion-slide>
           <ion-card>
            <img src="assets/imgs/berita_1.png"/>
          </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
            <img src="assets/imgs/berita_2.jpg"/>
          </ion-card>
          </ion-slide>
          <ion-slide>
           <ion-card>
            <img src="assets/imgs/berita_3.jpg"/>
          </ion-card>
          </ion-slide>
        </ion-slides>
          </ion-item>
      </ion-list>
    </div>

    <hr style="padding:4px;">
       <img class="profil" src="assets/imgs/logo_baru.png">
       <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    
       <hr style="padding:4px;">
    <p class="text"><h9><b> KATEGORI POPULER </b> </h9></p>
    <ion-grid class="card-background-page" padding>
      <ion-row>
        <ion-col>
            <img src="assets/imgs/icon1.png" class="icon">
            <p><h9>Akhlak</h9></p>
        </ion-col>
         <ion-col (click)="students()">
            <img src="assets/imgs/icon1.png" class="icon">
            <p><h9>Aqidah</h9></p>
        </ion-col>
        <ion-col (click)="teachers()" >
            <img src="assets/imgs/icon1.png" class="icon"/>
            <p><h9>Hadist</h9></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col (click)="eksis()">
              <img src="assets/imgs/icon1.png" class="icon">
              <p><h9>Muamalah</h9></p>
        </ion-col>
        <ion-col (click)="prestasi()">
            <img src="assets/imgs/icon1.png" class="icon">
            <p><h9>Ibadah</h9></p>
        </ion-col>
        <ion-col (click)="showMenu()">
            <img src="assets/imgs/icon1.png" class="icon">
            <p><h9>Fiqih</h9></p>
        </ion-col>
      </ion-row>
    </ion-grid>
  
 <hr style="padding:6px;">
   
      <ion-item>
    <ion-thumbnail item-left class="item-ribbon">
      <span class="ribbon cruzeiro">
        <span>Berita Baru</span>
      </span>
      <img src="assets/imgs/logo-muhammadiyah.jpg">
    </ion-thumbnail>
    <div>
      <h2>Fatwa Terbaru Pusat Tarjih Muh </h2>
  <p>Pada Hari ini Pusat Tarjih telah mengeluarkan putusna baru mengenai pernikahan</p>
  <button ion-button clear (click)="bacaBerita()">Baca Selengkapnya</button>
    </div>
        </ion-item>
      <ion-item>
      <ion-thumbnail item-left>
        <img src="assets/imgs/logo-muhammadiyah.jpg">
      </ion-thumbnail>
      <div>
        <h2>Fatwa Terbaru Pusat Tarjih Muh </h2>
    <p>Pada Hari ini Pusat Tarjih telah mengeluarkan putusna baru mengenai pernikahan</p>
    <button ion-button clear (click)="bacaBerita()">Baca Selengkapnya</button>
      </div>
        </ion-item>
      <ion-item>
        <ion-thumbnail item-left>
          <img src="assets/imgs/logo-muhammadiyah.jpg">
        </ion-thumbnail>
        <div>
          <h2>Fatwa Terbaru Pusat Tarjih Muh </h2>
      <p>Pada Hari ini Pusat Tarjih telah mengeluarkan putusna baru mengenai pernikahan</p>
      <button ion-button clear (click)="bacaBerita()">Baca Selengkapnya</button>
        </div>
        </ion-item>

        <hr style="padding:4px;">
        <ion-list no-lines>
            <ion-item>
               <div item-start>
                <ion-icon style="font-size: 30px" name="custom-calendar"></ion-icon>
              </div>
                <h2>Berita Terbaru</h2>
                <p>Kegiatan Sosialisasi Keagamaan</p>
                <a button ion-button color="primary" item-end medium clear (click)="detailKategori()">Lihat Semua</a>
            </ion-item>

            <ion-slides autoplay="2000" loop="true" #slider spaceBetween="10" slidesPerView="2" padding>
              <ion-slide *ngFor="let n of [1,2,3,4,5,6]">
                <img  class="full-image" src="assets/imgs/berita_1.png" (click)="bacaBerita()">
                <div class="card-description"> Penyerahan Wakaf Buku Himpunan Pusat Tarjih Muhammadiyah dari PP Muhammadiyah</div>
              </ion-slide>
            </ion-slides>
        </ion-list>

<hr style="padding:6px;">
   
  <ion-item>
    <ion-thumbnail item-left >
      <img src="assets/imgs/logo-muhammadiyah.jpg">
    </ion-thumbnail>
    <div>
      <h2>Fatwa Terbaru Pusat Tarjih Muh </h2>
      <p>Pada Hari ini Pusat Tarjih telah mengeluarkan putusna baru mengenai pernikahan</p>
      <button ion-button clear (click)="bacaBerita()">Baca Selengkapnya</button>
    </div>
   </ion-item>
   <ion-item>
      <ion-thumbnail item-left>
        <img src="assets/imgs/logo-muhammadiyah.jpg">
      </ion-thumbnail>
      <div>
        <h2>Fatwa Terbaru Pusat Tarjih Muh </h2>
        <p>Pada Hari ini Pusat Tarjih telah mengeluarkan putusna baru mengenai pernikahan</p>
        <button ion-button clear (click)="bacaBerita()">Baca Selengkapnya</button>
      </div>
   </ion-item>
   <ion-item>
        <ion-thumbnail item-left>
          <img src="assets/imgs/logo-muhammadiyah.jpg">
        </ion-thumbnail>
        <div>
          <h2>Fatwa Terbaru Pusat Tarjih Muh </h2>
          <p>Pada Hari ini Pusat Tarjih telah mengeluarkan putusna baru mengenai pernikahan</p>
          <button ion-button clear (click)="bacaBerita()">Baca Selengkapnya</button>
        </div>
   </ion-item>
   <ion-item>
      <ion-thumbnail item-left>
        <img src="assets/imgs/logo-muhammadiyah.jpg">
      </ion-thumbnail>
      <div>
        <h2>Fatwa Terbaru Pusat Tarjih Muh </h2>
        <p>Pada Hari ini Pusat Tarjih telah mengeluarkan putusna baru mengenai pernikahan</p>
        <button ion-button clear (click)="bacaBerita()">Baca Selengkapnya</button>
      </div>
   </ion-item> 
</ion-content>
