$colors: (
  primary:     #387ef5,
  secondary:   #32db64,
  danger:      #f53d3d,
  light:       #f4f4f4,
  dark:        #222,
  favorite:    #69BB7B,
  navbarColor: #009688
);

.card-description {
  text-align: left;
  padding: 5px;
  font-size: 12px;
  color: #444;
  line-height: 1.5;
}
.card-background-page {
ion-row{
      width:100% !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
      border-radius: 10px;
      text-align: center;
      height: 80px;
  p{
    position: absolute;
    font-size: 12px;
    top: 60%;
    left: 0%;
    width: 100%;
  }
 }
    
  ion-icon {
    font-size: 30px;
    position: absolute;
    top: 40%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    display: block;
  }
}
.headline{
ion-card{
      border-radius: 10px;
      text-align: center;
      height: 200px;
      }
      img{
      width: 100%;
      height: 100%;
      }
      ion-slides{
      height:200px;
      }
}
  .icon {
    width: 60%;
  } 
  
  .icon2 {
    width: 30%;
    float: right;
  }

  .icon3 {
    width: 30%;
    float: left;
  }

  .head {
    text-align: left;
  }

  .text {
    text-align: center;
  }

  .profil {
    position: center;
     padding-top: 30px;
     text-align: center;
     width: 100px;
   }

  .item-ribbon{
    background-color: #fff;
    position: relative;
    filter: none;
    opacity: 1;
    .ribbon {
      position: absolute;
      right: -5px;
      top: -5px;
      z-index: 2;
      overflow: hidden;
      width: 75px;
      height: 75px;
      text-align: right;
      span {
        font-size: 1rem;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        line-height: 20px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        width: 100px;
        display: block;
        background-color:  green;
        position: absolute;
        top: 19px;
        right: -21px;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 100%;
          z-index: -1;
          border-left: 3px solid;
          border-right: 3px solid transparent;
          border-bottom: 3px solid transparent;
          border-top: 3px solid;
        }
        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 100%;
          z-index: -1;
          border-left: 3px solid transparent;
          border-right: 3px solid;
          border-bottom: 3px solid transparent;
          border-top: 3px solid;
        }
      }
    }
  }

 

